<h1>Sign up to <%= APPLICATION_NAME.humanize %></h1>
<% @user.password = @user.password_confirmation = nil %>

<%= error_messages_for :user %>
<% form_for :user, :url => users_path do |f| -%>
<p><%= f.label :user, :login %>
<%= f.text_field :login %></p>

<p><%= f.label :user, 'first_name' %>
<%= f.text_field :first_name %></p>

<p><%= f.label :user, 'last_name' %>
<%= f.text_field :last_name %></p>

<p><%= f.label :user, 'mobile' %>
<%= f.text_field :mobile %></p>

<p><%= f.label :user, 'email' %>
<%= f.text_field :email %></p>

<p><%= f.label :user, 'password' %>
<%= f.password_field :password %></p>

<p><%= f.label :user, :password_confirmation %>
<%= f.password_field :password_confirmation %></p>

<p><%= submit_tag 'Sign up' %></p>
<% end -%>
