<p>
  <%= f.label :name %><br />
  <%= f.text_field :name %>
</p>
<p>
  <%= f.label :start_at %><br />
  <%= f.datetime_select :start_at, :class => 'date-picker' %>
</p>
<p>
  <%= f.submit 'Create' %>
</p>

<%= link_to 'Show all appointments', events_path %>