<h2><%=h @event.name %></h2>

<p>
  <b>Starts at:</b>
  <%=h @event.start_at %>
</p>

<p>
  <b>End at:</b>
  <%=h @event.end_at %>
</p>

<h3>Notes</h3>
<p>To be added later.</p>

<hr />

<%= link_to 'Edit your appointment', edit_event_path(@event) %> |
<%= link_to 'Back to calendar', calendar_path %>