<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>MyPA</title>
  <%= javascript_include_tag(
    'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js',
    'jquery-ui-1.8.custom.min',
    'application'
  )%>
  <%= stylesheet_link_tag(
    'baseline.0.5.1/css/compressed/baseline.compress.css',
    'jquery-ui-1.8.custom.css',
    'mypa' )%>
</head>

<body>
  <%= render '/shared/header' %>
  <div id="page" class="width4">
    
    <%= flash[:notice] || flash[:message] || flash[:error] %>
    <%= yield :layout %>
  </div>
  
  <div id="footer">
  </div>
  
</body>
</html>
